<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.neuedu.examsys.dao.CourseMapper">
	<resultMap type="Course" id="courseMap">
		<id column="course_id" property="courseId" />
		<result column="course_name" property="courseName" />
		<result column="course_major" property="courseMajor" />
		<result column="course_academy" property="courseAcademy" />
		<result column="course_credit" property="courseCredit" />
	</resultMap>
	<insert id="insertCourse" parameterType="Course" >
		INSERT INTO classroom(course_id,course_name,course_major,course_academy,course_credit)
		VALUES(#{courseId},#{courseName},#{courseMajor},#{courseAcademy},#{courseCredit});
	</insert>
	<select id="queryCourse" resultMap="courseMap">
		SELECT *
		FROM course
	</select>
	<select id="selectCourse" resultMap="courseMap" parameterType="String">
		SELECT *
		FROM course
		WHERE course_id = #{id};
	</select>
	<delete id="deleteCourse" parameterType="String">
		DELETE FROM course
		WHERE course_id = #{id};
	</delete>
	<update id="updateCourse" parameterType="Course">
		UPDATE course
		SET course_name = #{courseName},
			course_major = #{courseMajor},
			course_academy = #{courseAcademy},
			course_credit = #{courseCredit}
		WHERE course_id = #{courseId};
	</update>
</mapper>